@{
    var petsWithHealthRecords = ViewBag.PetsWithHealthRecords as List<Pet>;
    var selectedPet = ViewBag.SelectedPet as Pet;
}

<div class="mb-3">
    <a class="btn btn-success" asp-controller="Health" asp-action="AddHealthRecord" asp-route-id="0">Dodaj nowy rekord zdrowia</a>
</div>

@if (petsWithHealthRecords != null && petsWithHealthRecords.Count > 1)
{
    <form method="get">

        <label class="form-label" for="petSelect">Wybierz zwierzaka:</label>
        <select id="petSelect" name="petId" onchange="this.form.submit()" class="form-select w-auto d-inline">
            @foreach (var pet in petsWithHealthRecords)
            {
                <option value="@pet.Id" selected="@(pet.Id == selectedPet?.Id)">
                    @pet.Name
                </option>
            }
        </select>
    </form>

}


@if (selectedPet != null)
{
    <div class="pet-health-card">
        <h2>@selectedPet.Name - Historia zdrowia</h2>

        @if (selectedPet.HealthRecords.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Typ</th>
                        <th>Data rozpoczęcia</th>
                        <th>Data zakończenia</th>
                        <th>Opis</th>
                        <th>Cena</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in selectedPet.HealthRecords)
                    {
                        <tr>
                            <td>@record.Type</td>
                            <td>@record.StartDate.ToString("yyyy-MM-dd")</td>
                            <td>@(record.EndDate?.ToString("yyyy-MM-dd") ?? "Brak danych")</td>
                            <td>@record.Description</td>
                            <td>@record.Price?.ToString("N2") zł</td>
                            <td>
                                <a class="btn btn-success" asp-action="AddHealthRecord" asp-route-id="@record.Id">Edytuj</a>
                            </td>
                            <td>
                                <form asp-controller="Health" asp-action="DeleteHealthRecord" method="post" asp-route-id="@record.Id" style="display:inline;" onsubmit="return confirm('Czy na pewno chcesz usunąć ten rekord?);">
                                    <button type="submit" class="btn btn-danger" style="background-color: darkred; width: auto">Usuń</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        } else
        {
            <p>Brak historii zdrowia</p>
        }
            
    </div>

    <div class="mb-3">
        <a class="btn btn-primary"
           asp-controller="Health"
           asp-action="AddMedication"
           asp-route-petId="0">
            Dodaj nowy lek
        </a>
    </div>
    <div class="pet-health-card">

		<h2>@selectedPet.Name - Leki</h2>
        @if (selectedPet.Medications != null && selectedPet.Medications.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nazwa leku</th>
                        <th>Dawka</th>
                        <th>Częstotliwość</th>
                        <th>Data rozpoczęcia</th>
                        <th>Data zakończenia</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var medication in selectedPet.Medications)
                    {
                        <tr>
                            <td>@medication.Name</td>
                            <td>@medication.Dosage</td>
                            <td>@medication.Frequency</td>
                            <td>@medication.StartDate.ToString("yyyy-MM-dd")</td>
                            <td>@(medication.EndDate?.ToString("yyyy-MM-dd") ?? "Brak danych")</td>
                            <td>
                                <a class="btn btn-success" asp-action="AddMedication" asp-route-id="@medication.Id">Edytuj</a>
                            </td>
                            <td>
                                <form asp-controller="Health" asp-action="DeleteMedication" method="post" asp-route-id="@medication.Id" style="display:inline;" onsubmit="return confirm('Czy na pewno chcesz usunąć ten lek?');">
                                    <button type="submit" class="btn btn-danger" style="background-color: darkred; width: auto">Usuń</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Brak historii leków</p>
        }
    </div>
    
}
else
{
    <p>Brak danych o zwierzaku.</p>
}
